/* 全体のマージンとパディングのリセット */
* {
  margin: 0;
  padding: 0;
}

/* ヘッダー */
header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.12);
}

header img {
  margin-left: 20px;
  width: 185px;
  height: 20px;
  transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
}

.menu-icon {
  display: none;
}

header img:hover {
  opacity: 0.7; /* カーソルを合わせると画像が70%の不透明度に */
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.hedader-nav-lists {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px; /* リスト間の間隔 */
}

.header-nav-list {
  text-align: center;
}

.header-nav-list a {
  text-decoration: none; /*　下線の打ち消し */
  color: #333;
  text-align: center;
  display: block;
  font-size: 10px;
  font-weight: bold;
  transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
}

.header-nav-list a:hover {
  opacity: 0.7; /* カーソルを合わせると色が70%の不透明度に */
}

.header-nav button {
  margin-left: 40px; /* ボタンとリストの間隔 */
  padding: 10px 16px;
  border-radius: 30px;
  background-color: #F79315;
  border: none;
  color: #ffffff;
  min-width: 120px;
  transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
}

.header-nav button:hover {
  opacity: 0.7; /* カーソルを合わせると色が70%の不透明度に */
}


/* メインコンテンツ */
main {
  position: relative;
  height: 730px;
  overflow: hidden;
}

.main_contents {
  max-width: 1200px; /* コンテンツの最大幅を設定 */
  margin: 0 auto; /* 中央寄せの基本 */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 左寄せ */
}

.main_text {
  font-size: 42px;
  letter-spacing: 0.02em;
  text-align: left; /* テキストを左寄せ */
  margin-left: 8%; /* 画面の左から10%の位置に配置 */
  margin-top: 18%;
  line-height: 1.5; /* 行間を調整 */
  margin-bottom: 15px;
  z-index: 1;
}

.main_contents button {
  margin-left: 8%; /* ボタンも同様に左寄せ */
  margin-bottom: 15px;
  padding: 20px 160px;
  border-radius: 30px;
  background-color: #F79315;
  border: none;
  color: #ffffff;
  min-width: 120px;
  transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
  font-size: 15px;
  z-index: 1;
}

.main_contents button:hover {
  opacity: 0.7; /* カーソルを合わせると色が70%の不透明度に */
}

.main_subtext {
  margin-left: 8%; /* サブテキストも左寄せ */
  color: #666; /* 文字色を薄く */
  font-size: 11px; /* フォントサイズを小さく */
  z-index: 1;
}

.main_img_left_triangle {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0px;
}

.main_img_right_triangle {
  width: 450px;
  height: 450px;
  position: absolute;
  right: 0;
  top: 340px;
}

.main_img_oblique_circle {
  position: absolute;
  top: 73px;
  left: -50px;
}

.main_img_male {
  width: auto; /* 横幅を自動調整 */
  height: 90%; /* 親要素の高さの比率 */
  position: absolute;
  top: -90px;
  right: 0; /* 親要素の右端に固定 */
  object-fit: cover; /* 画像のサイズを親要素に合わせる */
}

.main_img_icon {
  width: 204px;
  height: 204px;
  position: absolute;
  top: 120px;
  left: 46.5%;
}


/* --------------------------------------
メディアクエリ:スマートフォン(767px以下)
-------------------------------------- */
@media only screen and (max-width: 390px) {
  /* ヘッダー */
  header img {
    margin-left: 0;
    width: auto;
    height: 16px;
    transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    right: 200px;
    cursor: pointer;
  }

  .menu-icon span {
    display: block; /* 必ず表示させる */
    height: 2px; /* 線の太さ */
    width: 24px;
    background-color: #A2A2A4; /* 線の色 */
    border-radius: 2px; /* 少し角を丸く */
  }

  .header-nav {
    display: none;
  }

  /* メインコンテンツ */
  .main_text {
    position: relative;
    font-size: 22px;
    margin-left: 3%; /* 画面の左から10%の位置に配置 */
    top: 180px;
  }

  .main_subtext {
    position: relative;
    top: 200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0;
    color: #666; /* 文字色を薄く */
    font-size: 12px; /* フォントサイズを小さく */
  }

  .main_contents button {
    position: relative;
    top: 180px;
    margin: 0 auto;
    padding: 10px 20px; /* パディングを調整 */
    font-size: 14px; /* フォントサイズを小さく */
    width: 358px; /* ボタンの幅を固定 */
    height: 64px;
    white-space: nowrap; /* テキストを改行させない */
    text-align: center; /* テキストを中央揃え */
  }

  .main_img_icon {
    top: 215px;
    left: 250px;
    width: 100px;
    height: 100px;
  }


  .main_img_left_triangle {
    width: 105px;
    height: 105px;
  }

  .main_img_right_triangle {
    display: none;
  }

  .main_img_oblique_circle {
    width: 220px;
    height: 200px;
    top: 5px;
    left: 50px;
  }

  .main_img_male {
    width: 290px; /* 横幅を自動調整 */
    height: 240px; /* 親要素の高さの比率 */
    top: -10px;
  }

  section {
    background-color: 	#33CC99;
    height: 800px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 767px) {
/* ヘッダー */
  header img {
    margin-left: 0;
    width: auto;
    height: 16px;
    transition: opacity 0.3s ease; /* opacityの不透明度の遷移速度調整 */
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    right: 200px;
    cursor: pointer;
  }

  .menu-icon span {
    display: block; /* 必ず表示させる */
    height: 2px; /* 線の太さ */
    width: 24px;
    background-color: #A2A2A4; /* 線の色 */
    border-radius: 2px; /* 少し角を丸く */
  }

  .header-nav {
    display: none;
  }

  /* メインコンテンツ */
  .main_text {
    position: relative;
    font-size: 22px;
    margin-left: 3%; /* 画面の左から10%の位置に配置 */
    top: 180px;
  }

  .main_subtext {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #666; /* 文字色を薄く */
    font-size: 12px; /* フォントサイズを小さく */
  }

  .main_contents button {
    position: relative;
    top: 180px;
    margin-left: 0 auto;
    padding: 20px 85px;
    font-size: 16px;
    width: 360px;
    white-space: nowrap; /* テキストを改行させない */
    text-align: center; /* テキストを中央揃え */
  }

  .main_img_icon {
    top: 240px;
    left: 250px;
    width: 100px;
    height: 100px;
  }


  .main_img_left_triangle {
    width: 105px;
    height: 105px;
  }

  .main_img_right_triangle {
    display: none;
  }

  .main_img_oblique_circle {
    width: 220px;
    height: 200px;
    top: 5px;
    left: 50px;
  }

  .main_img_male {
    width: 290px; /* 横幅を自動調整 */
    height: 265px; /* 親要素の高さの比率 */
    top: -10px;
  }

  section {
    background-color: 	#33CC99;
    height: 800px;
  }
  }


/* --------------------------------------
メディアクエリ:タブレット(768px以上〜1080px以下)
-------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  /* ヘッダー */
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    right: 200px;
    cursor: pointer;
  }

  .menu-icon span {
    display: block; /* 必ず表示させる */
    height: 2px; /* 線の太さ */
    width: 24px;
    background-color: #A2A2A4; /* 線の色 */
    border-radius: 2px; /* 少し角を丸く */
  }

  .header-nav {
    display: none;
  }

  /* メインコンテンツ */
  .main_img_icon {
    top: 70px;
    left: 500px;
    width: 204px;
    height: 204px;
  }

  .main_img_male {
    z-index: -1;
  }

  .main_img_oblique_circle {
    z-index: -2;
  }

  section {
    background-color: 	#33CC99;
    height: 800px;
  }

  }